* {
  color: white;
  box-sizing: border-box;
}

a {
  text-decoration-style: none;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: black;
}

body {
  background-color: rgb(83, 8, 8);
}
